### Import all library needed

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Create new DB connection

In [2]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')
engine.connect()

### Question no 3 How many taxi trips were totally made on January 15?

In [5]:
query_no3 = """
SELECT COUNT(*) FROM green_taxi_data_2019 g 
where EXTRACT(MONTH FROM g.lpep_pickup_datetime) = 1 and EXTRACT(DAY FROM g.lpep_pickup_datetime) = 15; 
"""

pd.read_sql(query_no3,con=engine)

   count
0  20689

### Question no 4 Which was the day with the largest trip distance?

In [6]:
query_no4 = """
select DATE_TRUNC('day', g.lpep_pickup_datetime) from green_taxi_data_2019 g 
where trip_distance = (select max(trip_distance) from green_taxi_data_2019);
"""
pd.read_sql(query_no4,con=engine)

  date_trunc
0 2019-01-15

### Question no 5 In 2019-01-01 how many trips had 2 and 3 passengers?

In [8]:
query_no_5_2 = """
SELECT COUNT(*) FROM green_taxi_data_2019 g 
where DATE_TRUNC('day', g.lpep_pickup_datetime) ='2019-01-01'::timestamp and g.passenger_count = 2;
"""
pd.read_sql(query_no_5_2,con=engine)

   count
0   1282

In [9]:
query_no_5_3 = """
SELECT COUNT(*) FROM green_taxi_data_2019 g 
where DATE_TRUNC('day', g.lpep_pickup_datetime) ='2019-01-01'::timestamp and g.passenger_count = 3;
"""
pd.read_sql(query_no_5_3,con=engine)

   count
0    254

### Question no 6 For the passengers picked up in the Astoria Zone which was the drop up zone that had the largest tip?

In [10]:
query_no_6 = """
SELECT z."Zone", g.tip_amount FROM green_taxi_data_2019 g JOIN zones z ON
g."DOLocationID" = z."LocationID"
where g."PULocationID" = 7
ORDER BY g.tip_amount DESC
Limit 1;
"""
pd.read_sql(query_no_6,con=engine)

                            Zone  tip_amount
0  Long Island City/Queens Plaza        88.0