### Import all library needed for upload data to postgres

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Create postgres connection

In [2]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')
engine.connect()

### Read csv file and Preview top 10 data

In [4]:
df = pd.read_csv('taxi+_zone_lookup.csv')
df.head(10)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone

### Insert csv file to postgres DB

In [5]:
%time df.to_sql(name='zone',con=engine,if_exists='replace')

CPU times: user 34 ms, sys: 19.6 ms, total: 53.6 ms
Wall time: 761 ms

### Read top 10 data from postgres DB

In [7]:
zone_query = """
SELECT * FROM zone LIMIT 10
"""

pd.read_sql(zone_query,con=engine)

   index  LocationID        Borough                     Zone service_zone
0      0           1            EWR           Newark Airport          EWR
1      1           2         Queens              Jamaica Bay    Boro Zone
2      2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3      3           4      Manhattan            Alphabet City  Yellow Zone
4      4           5  Staten Island            Arden Heights    Boro Zone
5      5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6      6           7         Queens                  Astoria    Boro Zone
7      7           8         Queens             Astoria Park    Boro Zone
8      8           9         Queens               Auburndale    Boro Zone
9      9          10         Queens             Baisley Park    Boro Zone